body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color:#49C6E5;
}

.navbar{
    background-color: rgb(61, 61, 85);
    color: white;
}
.navbar a:hover{
    color: white;
}

